<app-title-about-profession 
    titleAboutProfession="Sobre a profissão">
</app-title-about-profession>
<app-text-about-profession 
    textAboutProfession="Poucas áreas são tão legais hoje quanto a de tecnologia. Entende por quê? Porque você pode fazer de tudo! Desde criar jogos até aplicativos que ajudam as pessoas no dia a dia.">
</app-text-about-profession>
<app-text-about-profession 
textAboutProfession="E olha só, os empregos nessa área costumam pagar bem, e tem muitas vagas abertas. Até 2025, no Brasil vão precisar de um montão de gente nova que saiba programar e desenvolver coisas legais, tipo aplicativos e sites. Dados mostram que cerca de 800 mil profissionais serão necessários, esses são os dados de recente pesquisa da Brasscom (Associação das Empresas de Tecnologia da Informação e Comunicação).">
</app-text-about-profession>
<app-img-about-profession imgAboutProfession="assets/about-profession/programador-prof.jpg"></app-img-about-profession>
<app-text-about-profession
    textAboutProfession="Mas se você tá pensando em entrar nessa, pode ter umas dúvidas. Porque, sabe, parece que é uma carreira legal, mas será que é fácil? Será que precisa estudar muito? E também, será que precisa ter um super computador?">
</app-text-about-profession>
<app-text-about-profession
    textAboutProfession="Olha, é meio verdade isso tudo. Se você curte muito mexer com computadores, está sempre olhando curiosidades de tecnologia no YouTube e adora resolver problemas, pode ser que essa carreira seja pra você. Mas olha, não é moleza, não. Vai precisar de tempo e dedicação.">
</app-text-about-profession>
<app-text-about-profession 
    textAboutProfession="Tem gente importante na área que diz que leva uns dez anos pra ficar realmente bom na programação. Não tem mágica, mesmo que algumas pessoas prometam emprego fácil.">
</app-text-about-profession>
<app-text-about-profession
    textAboutProfession="Agora, se você detesta matemática, pode ser que ache meio complicado. Mas a matemática que precisa para programar é mais legal, tipo desafios e quebra-cabeças!">
</app-text-about-profession>
<app-text-about-profession
    textAboutProfession="Então é isso, se você tá a fim, se joga!">
</app-text-about-profession>

<app-space-footer></app-space-footer>
<app-space-footer></app-space-footer>