<div class="container">
    <div class="container-card">
        <div class="container-card-content">
            <div class="card-photo">
                <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/van-gogh-produziu-a-noite-estrelada-quando-estava-internado-em-um-hospital-psiquiatrico-em-1889-na-franca-5aaa957cb5181.jpg" 
                alt=""
                srcset=""
                >
            </div>
            <div class="card-title">
                <h1><a routerLink={{getRoute}}>Titulo do conteudo</a></h1>
            </div>
        </div>
        
        <div class="container-card-separator">
            <hr/>
        </div>
    </div>

</div>