<div class="container">
    <div class="container-card">
        <div class="container-card-content">
            <div class="card-photo">
                <img src="{{imgCardContent}}" 
                alt=""
                srcset=""
                >
            </div>
            <div class="card-title">
                <div class="title">
                    <!--Rota + id e titulo do card dinâmico-->
                    <h1><a [routerLink]="[getRoute, Id]">{{titleCardcontent}}</a></h1>
                </div>
            </div>
        </div>
        
        <div class="container-card-separator">
            <hr/>
        </div>
    </div>

</div>