@media screen and (max-width: 430px){
    .img-content {
        width: 320px;
        height: 200px;
    }
}
@media screen and (max-width: 375px){
    .img-content {
        width: 290px;
        height: 170px;
    }
}
@media screen and (max-width: 320px){
    .img-content {
        width: 240px;
        height: 150px;
    }
}
/*Ajuste tamanho da imagem e margin*/