<app-navbar titleNavbar="Estrutura de dados"></app-navbar>

<app-card-content
    getRoute="/conteudo"
    Id="12"
    titleCardcontent="Conhecendo estrutura de dados"
    imgCardContent="assets/data-structure/estrutura-1-data.jpg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="13"
    titleCardcontent="O que são dados?"
    imgCardContent="assets/data-structure/estrutura-2-data.jpg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="14"
    titleCardcontent="Principais tipos de estruturas de dados"
    imgCardContent="assets/data-structure/estrutura-3-data.jpg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="15"
    titleCardcontent="Relação entre algoritmos e estrutura de dados"
    imgCardContent="assets/data-structure/estrutura-5-data.jpg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="16"
    titleCardcontent="Para que serve a estrutura de dados?"
    imgCardContent="assets/data-structure/estrutura-4-data.jpg"
></app-card-content>

<app-space-footer></app-space-footer>
<app-space-footer></app-space-footer>