<app-navbar titleNavbar="Estrutura de dados"></app-navbar>

<app-card-content
    getRoute="/conteudo"
    Id="12"
    titleCardcontent="Conhecendo estrutura de dados"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="13"
    titleCardcontent="O que são dados?"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="14"
    titleCardcontent="Principais tipos de estruturas de dados"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="15"
    titleCardcontent="Qual a relação entre algoritmos e estruturas de dados?"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="16"
    titleCardcontent="Para que serve a estrutura de dados?"
></app-card-content>

<app-space-footer></app-space-footer>