<app-navbar titleNavbar="Programação"></app-navbar>

<app-card-content
    getRoute="/conteudo"
    Id="6"
    titleCardcontent="Linguagens de programação"
    imgCardContent="assets/generic/img-generica-2.jpeg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="7"
    titleCardcontent="Lógica de programação"
    imgCardContent="assets/generic/img-generica-7.png"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="8"
    titleCardcontent="Qual a importância da programação atualmente?"
    imgCardContent="assets/programacao/realidade-virtual-prog.jpg"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="9"
    titleCardcontent="Conhecendo código fonte"
    imgCardContent="assets/programacao/codigo-fonte-prog.png"
></app-card-content>
<app-card-content
    getRoute="/conteudo"
    Id="10"
    titleCardcontent="Carreiras na área da programação"
    imgCardContent="assets/programacao/developer-1.png"
    ></app-card-content>
    <app-card-content
    getRoute="/conteudo"
    Id="11"
    titleCardcontent="Como começar na área da programação?"
    imgCardContent="assets/programacao/estudando.png"
></app-card-content>

<app-space-footer></app-space-footer>
<app-space-footer></app-space-footer>