.card-imgs-container > .card-imgs-contact {/*Posicionamento da imagem*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.img-contact {/*Tamanho da imagem e ajustes*/
    width: 96px;
    height: 96px; 
    justify-content: space-around;
    display: flex;
    margin: 3rem;
    cursor: pointer;
}