<div class="container">
    <div class="card-imgs-container">
        <div class="card-imgs-contact">
            <a href="https://linkedin.com/in/vitor-benedito" target="_blank">
                <img class="img-contact" src="assets/contact/linkedin.png" alt="Linkedin">
            </a>
            <a href="https://github.com/VitorBsdc" target="_blank">
                <img class="img-contact" src="assets/contact/github.png" alt="GitHub">
            </a>
            <a href="mailto:vitor.bsdc@gmail.com?subject=&body=">
                <img class="img-contact" src="assets/contact/gmail.png" alt="Gmail">
            </a>
        </div>
    </div>
</div>