<app-navbar></app-navbar>
<app-title-home></app-title-home>

<div class="container-articles">

    <div class="articles-main">
        <app-card-big-home 
            getRoute="/conteudo/2" 
            titleCardBig="Algoritmo nas redes sociais"
            descriptionCardBig="O Facebook foi pioneiro no uso de algoritmos para personalizar o feed de notícias dos usuários. Seu objetivo é exibir conteúdos relevantes com base no comportamento, preferências e engajamento...">
        </app-card-big-home>
        <app-card-big-home 
            getRoute="/conteudo/8" 
            titleCardBig="Qual a importância da programação atualmente?"
            descriptionCardBig="Com o avanço das tecnologias digitais, a programação se tornou essencial em nosso cotidiano. Ela está presente em quase todas as atividades que realizamos, desde a comunicação até as tarefas diárias. A programação...">
        </app-card-big-home>
    </div>

    <div class="articles-others">
        <app-card-small-home 
            getRoute="/conteudo/10"
            titleCardSmall="Carreiras na área da programação">
        </app-card-small-home>
        <app-card-small-home 
            getRoute="/conteudo/16"
            titleCardSmall="Para que serve a estrutura de dados?">
        </app-card-small-home>
        <app-card-small-home 
            getRoute="/conteudo/11"
            titleCardSmall="Como começar na área da programação?">
        </app-card-small-home>
        <app-card-small-home 
            getRoute="/conteudo/4"
            titleCardSmall="Tipos de algoritmo">
        </app-card-small-home>
        <app-card-small-home 
            getRoute="/conteudo/12"
            titleCardSmall="Conhecendo estrutura de dados">
        </app-card-small-home>
    </div>
    
</div>

<app-space-footer></app-space-footer>