<app-navbar></app-navbar>
<app-title-home></app-title-home>

<div class="container-articles">

    <div class="articles-main">
        <app-card-big-home getRoute="algoritmo/conteudo"></app-card-big-home>
        <app-card-big-home></app-card-big-home>
    </div>

    <div class="articles-others">
        <app-card-small-home></app-card-small-home>
        <app-card-small-home></app-card-small-home>
        <app-card-small-home></app-card-small-home>
        <app-card-small-home></app-card-small-home>
        <app-card-small-home></app-card-small-home>
    </div>
    
</div>

<app-space-footer></app-space-footer>