<div class="navbar">

    <div class="navbar-container">

        <div class="menu-title">
            <div class="title-navbar">{{ titleNavbar }}</div>
        </div>

        <div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
            <div class="menu-toggler"><a [routerLink]="['/contato']">Contato 📞</a></div>
            <div class="menu-toggler" (click)="toggleMenu()">Conteúdos ⇩</div>
            <div class="menu" *ngIf="isMenuOpened">
                <div class="menu-item"><a [routerLink]="['/algoritmo']">Algoritmo</a></div>
                <div class="menu-item"><a [routerLink]="['/programacao']">Programação</a></div>
                <div class="menu-item"><a [routerLink]="['/estrutura-dados']">Estrutura de Dados</a></div>
                <div class="menu-item"><a [routerLink]="['/sobre-a-profissao']">Sobre a profissão</a></div>
            </div>
        </div>

    </div>

</div>