.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-contact{
    padding-bottom: 3rem;
}

.footer-text {
    font-size: 30px;
}