@media screen and (max-width: 430px) {
    .container{
        display: flex;
        justify-content: center;
    }
    .container-small-card{
        width: 400px;
        padding-top: 0;
    }
    .small-card-photo > img{
        width: 180px;
        height: 120px;
        margin-right: 20px;
    }
    .small-card-title{
        line-height: 0.6;
    }
    .small-card-title > h1 > a{
        font-size: 1rem;
    }
}
@media screen and (max-width: 375px) {
    .container-small-card{
        width: 320px;
    }
    .small-card-photo > img{
        width: 150px;
        height: 100px;
        margin-right: 20px;
    }
    .small-card-title{
        line-height: 0.4;
    }
    .small-card-title > h1 > a{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 320px) {
    .container-small-card{
        width: 300px;
    }
    .small-card-photo > img{
        width: 130px;
        height: 90px;
        margin-right: 20px;
    }
    .small-card-title{
        line-height: 0.4;
    }
    .container-small-card-separator{
        margin-top: 5px;
    }
}
/*Alterado diversas propriedades para adaptação do card*/