<div class="container">
    <div class="container-big-card">
        <div class="container-big-card-content">
            <div class="big-card-photo">
                <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/van-gogh-produziu-a-noite-estrelada-quando-estava-internado-em-um-hospital-psiquiatrico-em-1889-na-franca-5aaa957cb5181.jpg"
                alt=""
        
                srcset=""
                >
            </div>
            <div class="big-card-title">
                <h1><a routerLink={{getRoute}}>{{titleCardBig}}</a></h1>
            </div>
            <div class="big-card-description">
                <p class="description">{{descriptionCardBig}}</p>
            </div>
        </div>
    </div>
</div>