<div class="container-big-card">
    <div class="big-card-photo">
        <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/van-gogh-produziu-a-noite-estrelada-quando-estava-internado-em-um-hospital-psiquiatrico-em-1889-na-franca-5aaa957cb5181.jpg"
        alt=""

        srcset=""
        >
    </div>
    <div class="big-card-title">
        <h1><a routerLink={{getRoute}}>Titulo do conteudo pra testar. testar mesmo</a></h1>
    </div>
    <div class="big-card-description">
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris lorem, facilisis eu turpis sit amet, molestie euismod velit. Maecenas eu tincidunt leo.
        </p>
    </div>
</div>