@media screen and (max-width: 430px){
    .container{
        display: flex;
        justify-content: center;
    }
    .container-big-card{
        width: 400px;
    }
    .big-card-photo{
        display: flex;
        justify-content: center;
    }
    .big-card-photo > img{
        width: 320px;
        height: 200px;
    }
    .big-card-title > h1{
        margin-top: 5px;
        line-height: 0.9;
        width: 330px;
        text-align: justify;
    }
    .big-card-title > h1 > a{
        font-size: 1.4rem;
    }
    .description{
        width: 330px;
    }
}
@media screen and (max-width: 375px){
    .container-big-card{
        width: 345px;
    }
    .description{
        width: 290px;
    }
    .big-card-photo > img{
        width: 290px;
        height: 170px;
    }
    .big-card-title > h1{
        margin-top: 5px;
        width: 290px;
    }
    .big-card-title > h1 > a{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 320px){
    .container-big-card{
        width: 290px;
    }
    .description{
        width: 240px;
    }
    .big-card-photo > img{
        width: 240px;
        height: 150px;
    }
    .big-card-title > h1{
        margin-top: 5px;
        width: 240px;
    }
    .big-card-title > h1 > a{
        font-size: 1rem;
    }
}
/*Alterado diversas propriedades para adaptação do card*/