<app-navbar titleNavbar="Algoritmo"></app-navbar>

<app-card-content 
    getRoute="/conteudo"
    Id="1"
    titleCardcontent="O que é um algoritmo?"
></app-card-content>
<app-card-content   
    getRoute="/conteudo"
    Id="2"
    titleCardcontent="Algoritmo nas redes sociais"
></app-card-content>
<app-card-content 
    getRoute="/conteudo"
    Id="3"
    titleCardcontent="Algoritmo em anúncios e propagandas"
></app-card-content>
<app-card-content 
    getRoute="/conteudo"
    Id="4"
    titleCardcontent="Tipos de algoritmo"
></app-card-content>
<app-card-content 
    getRoute="/conteudo"
    Id="5"
    titleCardcontent="Quais são os principais componentes de um algoritmo?"
></app-card-content>

<app-space-footer></app-space-footer>