<app-navbar titleNavbar="Algoritmo"></app-navbar>

<app-card-content 
    getRoute="/conteudo"
    Id="1"
    titleCardcontent="O que é um algoritmo?"
    imgCardContent="assets/generic/img-generica-3.jpeg"
></app-card-content>
<app-card-content   
    getRoute="/conteudo"
    Id="2"
    titleCardcontent="Algoritmo nas redes sociais"
    imgCardContent="assets/generic/img-generica-4.png"
></app-card-content>
<app-card-content 
    getRoute="/conteudo"
    Id="3"
    titleCardcontent="Algoritmo em anúncios e propagandas"
    imgCardContent="assets/algorithm/anuncios-2-alg.jpg"
></app-card-content>
<app-card-content 
    getRoute="/conteudo"
    Id="4"
    titleCardcontent="Tipos de algoritmo"
    imgCardContent="assets/generic/img-generica-6.png"
    ></app-card-content>
    <app-card-content 
    getRoute="/conteudo"
    Id="5"
    titleCardcontent="Principais componentes de um algoritmo"
    imgCardContent="assets/generic/img-generica-1.jpg"
></app-card-content>

<app-space-footer></app-space-footer>
<app-space-footer></app-space-footer>